<!doctype html>
<html lang="en">

<head>
    <title>Administrador de Reservas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- JS for jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <!-- FontAwesome 6.2.0 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- (Optional) Use CSS or JS implementation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
        integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.10/index.global.min.js"></script>
    <script src='fullcalendar/dist/index.global.js'></script>

    {{!-- CDN Data tables --}}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">


    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="bg-dark col-2 min-vh-100 d-flex flex-column justify-content-between navbar">
                <div class="bg-dark p-2">
                    <a href="" class="d-flex text-decoration-none mt-1 align-items-center text-white">
                        <span class="fs-4 d-none d-sm-inline" href="/">SideMenu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mt-4 ">
                        <li class="nav-item py-2 py-sm-0">
                            <a href="/api/dashboard" class="nav-link text-white">
                                <i class="fs-5 fa fa-chart-bar"></i><span
                                    class="fs-4 ms-3 d-none d-sm-inline">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0">
                            <a href="/" class="nav-link text-white">
                                <i class="fs-5 fa fa-house"></i><span class="fs-4 ms-3 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0">
                            <a href="/api/usuarios" class="nav-link text-white">
                                <i class="fas fa-users"></i><span
                                    class="fs-4 ms-3 d-none d-sm-inline">Usuarios</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0">
                            <a href="/api/clientes/mostrar-clientes" class="nav-link text-white">
                                <i class="fa fa-user-circle" aria-hidden="true"></i><span
                                    class="fs-4 ms-3 d-none d-sm-inline">Clientes</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0">
                            <a href="/api/servicios" class="nav-link text-white">
                                <i class="fas fa-spa"></i><span
                                    class="fs-4 ms-3 d-none d-sm-inline">Servicios Adicionales</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0">
                            <a href="/api/racklimpieza" class="nav-link text-white">
                                <i class="fas fa-broom"></i><span
                                    class="fs-4 ms-3 d-none d-sm-inline">Limpieza</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0">
                            <a href="/api/cabanas" class="nav-link text-white">
                                <i class="fas fa-plus"></i></i><span
                                    class="fs-4 ms-3 d-none d-sm-inline">Alta cabaña</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0">
                            <a href="/api/cabanas/editar-cabana" class="nav-link text-white">
                                <i class="fas fa-pencil-alt"></i></i><span
                                    class="fs-4 ms-3 d-none d-sm-inline">Editar cabaña</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0">
                            <a href="/instrucciones/65d92bc351760248871cd30f" class="nav-link text-white">
                                <i class="far fa-calendar-alt"></i><span
                                    class="fs-4 ms-3 d-none d-sm-inline">Reserva Cliente cabaña</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">Juan Felipe</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/api/auth/logout">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Content -->
            <div class="col content"></div>
            <div class="calendar-container">
                <div class="calendar-header">
                    <div class="bg-dark mb-3">
                        <a name="" id="crear-reserva-btn" class="btn btn-secondary btn-sm m-3" href="#" role="button"
                            data-bs-toggle="modal" data-bs-target="#event_entry_modal">Crear reserva</a>
                    </div>


                </div>
                {{{body}}}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

        
    {{!-- cdn data tables --}}
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>



</body>