<h1> Calendario de bloqueo de fechas</h1>
<div class="calendar-header">
    <div class="bg-dark mb-3">
        <a name="" id="actualizar-precios-btn" class="btn btn-secondary btn-sm m-3" href="#" role="button"
            data-bs-toggle="modal" data-bs-target="#update_prices_modal">Actualizar precios</a>
        <a name="" id="agregar-precios-xpersona" class="btn btn-secondary btn-sm " href="#" role="button"
            data-bs-toggle="modal" data-bs-target="#preciosxpersona_modal">Agregar precios por personas</a>
    </div>
</div>
    
    {{#each chalets}}
    <h2>{{this.name}}</h2>
    <div class="container mb-3">
        <div class="row calendar-container" id="calendar-container-{{this.name}}" style="color: black !important;" >
        </div>
    </div>
    {{/each}}
    <script src="/scripts/blockCalendar.js"></script>