<h1> Calendario de bloqueo de fechas</h1>
<div class="calendar-header">
    <div class="bg-dark mb-3">
        <a name="" id="actualizar-precios-btn" class="btn btn-secondary btn-sm m-3" href="#" role="button"
            data-bs-toggle="modal" data-bs-target="#update_prices_modal">Actualizar precios</a>
        <a name="" id="agregar-precios-xpersona" class="btn btn-secondary btn-sm " href="#" role="button"
            data-bs-toggle="modal" data-bs-target="#preciosxpersona_modal">Agregar precios por personas</a>
    </div>

    <div id="calendar-container" style="color: black !important;"></div>
    <script src="/scripts/blockCalendar.js"></script>
