<div class="text-center">
    <h1>Bienvenido</h1>
    {{#if error}}<div class="alert alert-warning">{{error}}</div>{{/if}}
    {{#unless session.channelId}}
    <p>Conecta tu cuenta de Airbnb para comenzar.</p>
    <a class="btn btn-lg btn-primary" id="connect-airbnb-btn">Conectar Airbnb</a>
    {{/unless}}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('connect-airbnb-btn').addEventListener('click', async function() {
            try {
                //const redirect_uri = 'https://0de5-177-249-172-194.ngrok-free.app/api/channex/auth/airbnb/callback&token=123'
                const redirect_uri = 'http://localhost:3005/api/channex/auth/airbnb/callback&token=123'
                const channexProperty = 'b918e0f9-c6fd-44d9-9ad5-96bf8eb05ac6'; // Cualquier ID del canal
                const response = await fetch(`/api/channex/connect/airbnb?properties=["${channexProperty}"]&minStayType=Arrival&groupId=b5fcd225-d31f-4588-a828-686f7e2b32a4&redirect_uri=${redirect_uri}`)
                const data = await response.json()
                console.log(data)
                const url = data.url
                window.location.href = url

            } catch (error) {
                console.error(error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Error al conectar con Airbnb: ' + error.message,
                    confirmButtonText: 'Aceptar'
                })
            }
        });
    })
</script>