<!DOCTYPE html>
<html lang="es" class="login-html">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/styles.css">
  <link rel="icon" href="route-to-logo">    
  <title>Iniciar sesión</title>
  <title>Inicar sesión</title>
</head>

<body class="login-body flex-vcontainer">
  <main>
    <div class="login-form">
      <div>
          <h1>Cabañas Navarro</h1>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReFqHdo5UuI1wsVUsJM_BgQrEwadHdAstyVsvmDP5osg&s" alt="Cabañas Navarro">
          <h1>Rent & Travel</h1>
      </div>
      <div class="form">
        <form action="/api/auth/login" method="post">
          <div class="form-item"><h2>Inicia sesión</h2></div>
          <div class="form-item">
            <label for="txtUserEmail">Dirección de correo electrónico</label>
            <input id="txtUserEmail" name="txtUserEmail" type="email">
          </div>                  
          <div class="form-item">
            <label for="txtUserPassword">Contraseña</label>
            <input id="txtUserPassword" name="txtUserPassword" type="password">            
          </div>
          <div class="form-item">
            <p id="txt-login-error" class="error"></p>
          </div>
          <div class="form-item">
            <button id="btnLoginSubmit" type="submit">Iniciar sesión</button>
          </div>          
        </form>
        <hr>
        <div class="to-signup">
          <p>¿Aún no tienes una cuenta? <a href="route-to-signup">¡Regístrate aquí!</a></p>                                        
        </div>
      </div>

    </div>
  </main>

  <footer>
      <p>&copy; 2024. Rent & Travel. Todos los derechos reservados.</p>
  </footer>

  <script src="assets/vendor_components/jquery-3.3.1/jquery-3.3.1.js"></script>
  <script src="assets/vendor_components/popper/dist/popper.min.js"></script>
  <script type="text/javascript" src="jsUlog/sha512.js"></script>
  <script type="text/javascript" src="jsUlog/forms.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Sending form info to correspondong route.
        var btnLoginSubmit = document.getElementById("btnLoginSubmit")
        btnLoginSubmit.addEventListener("click", (event) => {
            event.preventDefault();

            const data = {
                email: document.getElementById("txtUserEmail").value,
                password: document.getElementById("txtUserPassword").value
            };

            fetch('/api/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (response.redirected) {
                    // Si el servidor redirige al usuario, simplemente redirige al usuario a la nueva ubicación.
                    window.location.href = response.url;
                } else {
                    // Si no hay redirección, maneja la respuesta como lo desees (opcional).
                    console.log('Respuesta del servidor:', response);
                }
            })
            .catch(error => {
                console.error('Error al enviar la solicitud:', error);
            });

        });
            
    });
</script>
</body>

</html>
