<!DOCTYPE html>
<html lang="es" class="login-html">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/styles.css">
  <link rel="icon" href="route-to-logo">    
  <title>Iniciar sesión</title>
  <title>Inicar sesión</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <meta name="facebook-domain-verification" content="nswiwx65advvr2tfto3c8z4j15ebn0" />
</head>

<body class="login-body flex-vcontainer">
  <main>
    <div class="login-form">
      <div>
          <h1>N&N Hoteles</h1>
      </div>
      <div class="form">
        <form action="/api/auth/login" method="post">
          <div class="form-item"><h2>Inicia sesión</h2></div>
          <div class="form-item">
            <label for="txtUserEmail">Dirección de correo electrónico</label>
            <input id="txtUserEmail" name="txtUserEmail" type="email">
          </div>                  
          <div class="form-item">
            <label for="txtUserPassword">Contraseña</label>
            <input id="txtUserPassword" name="txtUserPassword" type="password">            
          </div>
          <div class="form-item">
            <p id="txt-login-error" class="error"></p>
          </div>
          <div class="form-item">
            <button id="btnLoginSubmit" type="submit">Iniciar sesión</button>
          </div>          
        </form>
        <hr>
        <div class="to-signup">
          <p>¿Aún no tienes una cuenta? <a href="route-to-signup">¡Regístrate aquí!</a></p>                                        
        </div>
      </div>

    </div>
  </main>

  <footer>
      <p>&copy; 2024. N&N Hoteles. Todos los derechos reservados.</p>
  </footer>

  <script src="assets/vendor_components/jquery-3.3.1/jquery-3.3.1.js"></script>
  <script src="assets/vendor_components/popper/dist/popper.min.js"></script>
  <script type="text/javascript" src="jsUlog/sha512.js"></script>
  <script type="text/javascript" src="jsUlog/forms.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Sending form info to correspondong route.
        var btnLoginSubmit = document.getElementById("btnLoginSubmit")
        btnLoginSubmit.addEventListener("click", (event) => {
            event.preventDefault();

            Swal.fire({
              title: 'Autorizando...',
              allowOutsideClick: false,
              didOpen: () => {
                  Swal.showLoading();
              }
            });

            const data = {
                email: document.getElementById("txtUserEmail").value.trim(),
                password: document.getElementById("txtUserPassword").value.trim()
            };
            fetch('/api/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)                
            })
            .then(response => {
                Swal.close(); // Close the loading indicator
                if (!response.ok) {
                    response.json().then(errorData => {
                        const errors = errorData.error;
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: "Error en la solicitud: " + errors[0].message.toLowerCase() + ".",
                            confirmButtonText: 'Aceptar'
                        });   
                    });                    
                    throw new Error('Error en la solicitud');
                }
                window.location.href = response.url;
            })
            .catch(error => {
                Swal.close(); // Close the loading indicator
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Error al enviar la solicitud: ' + error,
                    confirmButtonText: 'Aceptar'
                }); 
            });
        });
            
    });
</script>
</body>

</html>
