<div class="dashboard">
    <div class="dashboard-item graph-item">
        <div class="dashboard-item-header">
            <h2>Noches de reservas confirmadas</h2>                
            <div>
                <a class="operation">Noches</a>
                <a class="operation">Ingresos</a>
                <a class="operation">Ocupación</a>
            </div>
        </div>
        <div class="extra-info"></div>
        <div class="graph">
            <img src="../src/public/images/login/chalet.png" alt="Graph goes here">
        </div>
    </div>
    <div class="dashboard-item">
        <div class="dashboard-item-header">
            <h2>Notas</h2>                
            <div>
                <a class="operation">Añadir redes</a>
                <a class="operation">Diarias</a>
                <a class="operation">Fijas</a>
            </div>
        </div>
        <div class="extra-info"></div>
        <p>No tienes notas diarias pendientes</p>
    </div>
    <div class="dashboard-item">
        <div class="dashboard-item-header">
            <h2>Reservas recibidas</h2>                
        </div>
        <div class="extra-info">
            <div>
                <a>Informe</a>
            </div>
            <div>
                <a class="operation">Ayer</a>
                <a class="operation">Hoy</a>
                <a class="operation">Mañana</a>
            </div>            
        </div>
        <div class="dashboard-item-content">
            <div class="info">
                <p>0</p>
                <p>Hoy</p>
            </div>
            <div class="info">
                <p>19</p>
                <p>Este mes</p>
            </div>
            <div class="info">
                <p>103</p>
                <p>Este año</p>
            </div>
        </div>
    </div>
    <div class="dashboard-item">
        <div class="dashboard-item-header">
            <h2>Ocupación en curso</h2>                
        </div>
        <div class="extra-info"></div>
        <div class="dashboard-item-content">
            <div class="info">
                <p>9.92 %</p>
                <p>Este mes</p>
            </div>
            <div class="info">
                <p>2.84 %</p>
                <p>Este año</p>
            </div>
        </div>
    </div>
    <div class="dashboard-item">
        <div class="dashboard-item-header">
            <h2>Ingresos</h2>                
        </div>
        <div class="extra-info"></div>
        <div class="dashboard-item-content">
            <div class="info">
                <p>416,192.46 MXN</p>
                <p>Hasta hoy</p>
            </div>
            <div class="info">
                <p>522,982.46 MXN</p>
                <p>Previsto para este año</p>
            </div>
        </div>
    </div>
    <div class="dashboard-item">
        <div class="dashboard-item-header">
            <h2>0 llegadas</h2>                
        </div>
        <div class="extra-info">
            <div>
                <a>Informe</a>
                <a>QR</a>
            </div>
            <div>
                <a class="operation">Ayer</a>
                <a class="operation">Hoy</a>
                <a class="operation">Mañana</a>
            </div>  
        </div>
        <div class="dashboard-item-content">
            <input type="text" placeholder="Buscar">            
        </div>
    </div>
    <div class="dashboard-item">
        <div class="dashboard-item-header">
            <h2>2 salidas</h2>                
        </div>
        <div class="extra-info">
            <div>
                <a>Informe</a>
            </div>
            <div>
                <a class="operation">Ayer</a>
                <a class="operation">Hoy</a>
                <a class="operation">Mañana</a>
            </div>  
        </div>
        <div class="exit-info">
            <div class="exit-card">
                <span class="material-symbols-outlined" style="border-color: #5ccc3c;">room_service</span>
                <div>
                    <p>Evelia Alvarez</p>
                    <p>
                        2<span class="material-symbols-outlined">man</span> 
                        0<span class="material-symbols-outlined">accessibility_new</span>
                    </p>
                    <p>MAZAMITLA CABAÑA SUITE DIKARLO CAP 2 PAX. (1)</p>
                </div>
                <button>                    
                    <span class="material-symbols-outlined">arrow_circle_right</span>
                </button>
            </div>
            <!--
            <div class="exit-card">
                <span class="material-symbols-outlined" style="border-color: #ffbc03;">room_service</span>
                <div>
                    <p>Diana Paola Martínez Guzmán</p>
                    <p>
                        2<span class="material-symbols-outlined">man</span> 
                        0<span class="material-symbols-outlined">accessibility_new</span>
                    </p>
                    <p>MAZAMITLA CABAÑA SUITE DIKARLO CAP 2 PAX. (1)</p>
                </div>
                <button>                    
                    <span class="material-symbols-outlined">arrow_circle_right</span>
                </button>
            </div>
            -->
        </div>
    </div>
    <div class="dashboard-item">
        <div class="dashboard-item-header">
            <h2>Limpiezas</h2>                
        </div>
        <div class="extra-info">
            <div>
                <a>Rack de limpieza</a>
                <a>Informe</a>
            </div>
            <div>
                <a class="operation">Hoy</a>
                <a class="operation">Próximas</a>
            </div>  
        </div>        
    </div>

</div>
