/* GLOBAL 
-------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body{
    margin: 0;
    height: 100%;  
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lora', serif;
}

body:not(h1, h2, h3, h4, h5, h6){
    font-family: "Open Sans", sans-serif;
}

.error{
    margin: 0;
    text-align: center;
    color: rgb(255, 80, 80);
}

/* LOGIN
-------------------------------------------*/
.login-html, .login-body{
    margin: 0;
    height: 100%;  
    /* fon-size is already set to 10px */
    background-color: #053537;
    background-image: url("../images/login/chalet.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
}

.flex-vcontainer{
    display: flex;
    flex-direction: column;
}

.flex-vcontainer main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    min-width: 600px;
    max-height: 90%;
}

.login-form > div:first-of-type{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 75px;
    background-color: #053537;
    text-align: center;
    color: #DD806D;    
}

.login-form img{
    width: 350px;
    height: 250px;
}

.login-form h1{
    font-size: 2.75em;
    font-weight: 100;
    line-height: 1em;
    letter-spacing: 0.3em;
}

.form{     
    padding: 75px 50px;
    min-width: 300px;    
    color: #F6F6DF;
    backdrop-filter: blur(5px);
}

.form .form-item:first-child {
    margin-top: 0;
}

.form .form-item:last-child {
    margin-bottom: 0;
}

.form .form-item{
    margin: 20px 0;
}

.form h2{
    margin: 0 0 45px;
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    line-height: 0.8em;
    letter-spacing: 0.1em;
}

.form label{
    display: block;
    font-size: 0.75rem;
}

.form input{
    box-sizing: border-box;
    width: 100%;
    height: 2.75em;
    margin: 5px 0;
    padding: 0 15px;
    background-color: rgba(246, 246, 223, 0.1);
    color: #F6F6DF;
    opacity: 1;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    border-radius: 50px;
    border-style: none;
    border-width: 100;
}

.form input:focus{
    background-color: #111111;
    color:#F6F6DF;
    opacity: 1;
    outline: 1px solid #DD806D;
}

.form button{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.75em;
    margin: 5px 0;
    padding: 0 15px;
    background-color: #053537;
    font-size: 0.9em;
    color: #F6F6DF;
    letter-spacing: 0.1em;
    border-radius: 50px;
    border-style: none;
    border-width: 100;    
}

.form button:hover{    
    cursor: pointer;
}

.form button:active{
    background-color: #111111;
    outline: none;
    cursor: pointer;
}

.form hr{
    margin: 25px auto;
    border-top: 1px solid #F6F6DF;
    border-style:ridge;
    border-color: #F6F6DF;
    border-radius: 100%;
    opacity: 0.2;
    width: 100%;
    
}

.to-signup{
    font-size: 0.8rem;
    text-align: center;
}

.to-signup *{
    margin: 0;
}

.to-signup a{
    color: #DD806D;
    border-radius: 50px;
}

.to-signup a:focus,
.form button:focus{
    outline: 1px solid #DD806D;
}

/* DASHBOARD
-------------------------------------------*/
.dashboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px repeat(2, 165px);
    gap: 20px;;
    box-sizing: border-box;
    padding: 15px;
}

.dashboard-item{
    padding: 15px;
    background-color: rgb(30,30,31);
    font-family: "Open Sans", sans-serif;
    overflow-y: scroll;
}

.graph-item{
    grid-column: span 2;
}

.dashboard-item-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.dashboard-item-header h2{
    display: inline-block;
    margin: 0;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
}

.extra-info{
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 2rem;
    margin-bottom: 15px;
}

.extra-info:focus{
    outline: none
}

.extra-info a{
    display: inline-block;
    align-items: center; 
    box-sizing: content-box;
    height: 1.2rem;
    margin-right: 5px;
    padding: 3px 10px;
    background-color: black;    
    text-align: center;
    color: inherit;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
    border-radius: 50px;
}

.dashboard-item-header .operation,
.extra-info .operation{
    display: inline-block;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5px 0;
    background-color: transparent;
    text-align: center;
    color: inherit;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    border-style: none;
    border-radius: 0%;
}

.dashboard-item-header .operation:hover,
.extra-info .operation:hover,
.extra-info a:hover{
    cursor: pointer;
}

.graph img{
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboard-item-content{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
}

.dashboard-item-content .info{
    margin-right: auto;
}

.dashboard-item-content .info p{
    margin: 0;
}

.dashboard-item-content .info p:first-child{    
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.dashboard-item-content input{
    width: 100%;
    height: 2.7rem;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: inherit;
    border-style: none;
    border-bottom: 1px solid white;
    border-radius: 5px;
}

.dashboard-item-content input:focus{
    outline: 1px solid white;
}

.exit-info{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    max-height: 150px;
}

.exit-info .exit-card{
    display: flex;
    align-items: center;
    min-width: 100%;
    margin: 2px 0;
    background-color: rgba(255, 255, 255, 0.1);
}

.exit-card > span{
    display: inline-block;
    min-height: 3rem;
    min-width: 3rem;
    max-height: 3rem;
    max-width: 3rem;
    margin: 15px;
    box-sizing: border-box;
    background-color: #86b285;
    font-size: 2.5rem;
    font-weight: 700;
    border-style: solid;
    border-radius: 50px;
    user-select: none
}

.exit-card > div{
    flex-grow: 1;
}

.exit-card > div p{
    margin: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

.exit-card > div span{
    font-size: 1rem;
}

.exit-card > div span::after{
    content: "  ";
}

.exit-card > button{
    display: inline-block;
    min-height: 3rem;
    min-width: 3rem;
    max-height: 3rem;
    max-width: 3rem;
    margin: 15px;
    padding: 0;
    background-color: #12408a;
    color: inherit;
    font-weight: 500;
    border-style: none;
    border-radius: 50px;
}

.exit-card > button:focus{
    outline: 1px solid white; 
}

.exit-card > button:active{
    background-color: #12608a;
}

.exit-card > button span{
    font-size: 3rem;
    margin: 0 auto;
}

/* CHALET INFO
-------------------------------------------*/
.page-info{
    display: flex;
    margin: 20px 0;
}

.page-info h1{
    display: inline-block;
    flex-grow: 1;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    text-align: start;
    background-color: transparent;
}

.page-info button{
    display: inline-block;
    width: 10rem;
    padding: 6px 12px;
    background-color: rgb(82, 71, 182);
    color: white;
    border-style: none;
    border-radius: 4px;
}

.page-info button:hover{
    display: inline-block;
    width: 10rem;
    padding: 6px 12px;
    background-color: rgb(102, 88, 232);
    color: white;
    border-style: none;
    border-radius: 4px;
}

.chalet-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 15px;
    box-sizing: border-box;
}

.toggle-collpase-section-button{
    width: 100%;
    margin: 20px 0;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    text-align: start;
    color: inherit;
    background-color: transparent;
    border: none
}

.chalet-details .half{
    width: 47.5%;
}

.chalet-details .third{
    width: 30%;
}

.chalet-details .inline-input-group{
    display: inline;
    width: 100%;
    margin: 10px 0;
}

.input-group{
    margin: 10px 0;
}

.input-group label{
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 700;
}

.input-group select{
    background-color: rgb(50, 50, 50);
}

.input-group optgroup option,
.input-group option{
    font-style: normal;
    font-weight: 100;
    color: black;
}

.input-group label,
.input-group input{
    display: block;
}

.input-group textarea{
    width: 100%;
}

.input-group input,
.input-group select,
.input-group textarea{
    width: 100%;
    height: 2.7rem;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: inherit;
    border-style: none;
    border-bottom: 1px solid white;
    border-radius: 5px !important;
}

.input-group textarea{
    height: 7rem;
}

.input-group input:focus,
.input-group select:focus,
.input-group textarea:focus{
    outline: 1px solid white;
}

.chalet-details legend{
    display: block;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    text-align: start;
}

.option-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.checkbox-option{
    margin: 2px;
}

.checkbox-option input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    border: solid 2px gray;
    border-radius: 2px;
}

.photo-carousel{
    display: flex;
    width: 100%;
    margin: 10px 0;;
    overflow: scroll;
}

.photo-carousel .photo{
    flex-shrink: 0;
    position: relative;
    margin: 0;
    padding: 1.5rem;
}


.photo-carousel .photo:first-child{
    margin-left: 0;
}

.photo-carousel .photo:last-child{
    margin-right: 0;
}

.photo:hover .delete-photo{
    display: flex;
}

.photo .delete-photo{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 2.5rem;
    height: 2.5rem;
    box-sizing: border-box;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: white;
    border: solid 1px white;
    border-radius: 50px;
}

.delete-photo span{
    display: inline-block;
    box-sizing: border-box;
    font-size: 1.75rem;
    user-select: none;
}

.photo img{
    max-width: 550px;
    height: 300px; 
    background-color: white;
    background-image: url("../images/login/chalet.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
}

.custom-file-upload label{
    display: inline-block;
    margin-right: 10px;
    padding: 6px 12px;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload span{
    color: rgba(255, 255, 255, 0.5);
}

/* PARA USUARIOS
-------------------------------------------*/
.signature{
    width: 100%;
}

.canvas{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.canvas canvas{
    width: 100%;
    height: 200px;
    background-color: white; 
    border:1px solid #000;
}

.canvas:hover .delete-signature{
    display: flex;
}

.canvas .delete-signature{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    background-color: transparent;
    color: black;
    border: solid 1px black;
    border-radius: 50px;
}

.canvas .delete-signature:hover{
    background-color: black;
    color: white;
    border: none;
}

.canvas label{
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 700;
}

.form-label .checkbox-option{
    display: flex;
    justify-content: right;
}

.form-item .checkbox-option label{
    display: inline;
}

.some-container{
    display: flex;
}

.submit{
    display: flex;
    flex-grow: 1;
    justify-content: right;
    align-items: end;
    padding: 10px 0;
}

.submit button{
    display: inline-block;
    padding: 6px 12px;
    height: 3rem;
    background-color: rgb(82, 71, 182);
    color: white;
    border-style: none;
    border-radius: 4px;
}

.submit button:hover{
    display: inline-block;
    padding: 6px 12px;
    background-color: rgb(102, 88, 232);
    color: white;
    border-style: none;
    border-radius: 4px;
}

.some-div-1{
    min-height: 50px;
    margin: 0 auto;    
}

.some-div-2{
    display: inline-block;
    width: 200px;
    height: 50px;    
}

add-to-calendar-button{
    height: 3rem;
    width: 100%;
}

#map {
    margin: 20px 0;
    height: 250px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

iframe{
    display: inline;
    width: 100%;
    height: 250px;
    margin: 20px 0;
}

/* USER PROFILE
-------------------------------------------*/
.user-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 500px;
    margin: 0 auto;
    padding: 0 75px;
    background-color: transparent;    
    color: #F6F6DF;
}

.user-profile .form-item{
    position: relative;
    margin: 20px 0;
}

.user-profile .form-item:first-child {
    margin-top: 0;
}

.user-profile .form-item:last-child {
    margin-bottom: 0;
}

.user-profile h2{
    margin: 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 2em;
    font-weight: 100;
    line-height: 1.8em;
    letter-spacing: 0.1em;
}

.user-profile hr{
    margin: 25px auto;
    border-top: 1px solid #F6F6DF;
    border-style:ridge;
    border-color: #F6F6DF;
    border-radius: 100%;
    opacity: 0.2;
    width: 100%;
}

.user-profile label{
    display: block;
    text-align: center;
    font-size: 0.75rem;
}

.user-profile input{
    box-sizing: border-box;
    width: 100%;
    height: 2.75em;
    margin: 5px 0;
    padding: 0 15px;
    background-color: transparent;
    text-align: center;
    color: #DD806D;
    opacity: 1;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    border-radius: 0px;
    border-style: none;
    border-bottom: 1px solid #DD806D;
}

.user-profile input:focus{
    outline: none;
}

.form-item:hover > .btn-edit{
    display: block;
}

.user-profile .btn-edit{
    display: none;
    position: absolute;
    top: -1px;
    right: 0;
    box-sizing: border-box;
    width: 2.75em;
    height: 2.75em;
    background-color: #053537;
    font-size: 0.9em;
    color: #F6F6DF;
    letter-spacing: 0.1em;
    border-radius: 50px;
    border-style: none;
}

.user-profile h2 + .btn-edit{
    top: 50%;
    transform: translateY(-50%);
}

.user-profile .btn-edit:hover{    
    cursor: pointer;
}

.user-profile .btn-edit:active{
    color: #053537;
    background-color: #F6F6DF;
    outline: none;
    cursor: pointer;
}

.btn-edit span{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50px;
    user-select: none;
}

.update-info{     
    margin: 50px auto;
    padding: 15px 30px;
    width: 450px;
    background-color: transparent;
    color: #F6F6DF;
    backdrop-filter: blur(5px);
}

.update-info .modal-header,
.update-info .modal-footer{
    border: none;
}

.update-info .form-item:first-child {
    margin-top: 0;
}

.update-info .form-item:last-child {
    margin-bottom: 0;
}

.update-info .form-item{
    margin: 10px 0;
}

.update-info h2{
    text-align: left;
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    font-family: "Open Sans", sans-serif;
}

.update-info label{
    display: block;
    font-size: 0.75rem;
}

.update-info input{
    box-sizing: border-box;
    width: 100%;
    height: 2.75em;
    margin: 5px 0;
    padding: 0 15px;
    background-color: rgba(246, 246, 223, 0.1);
    color: #F6F6DF;
    opacity: 1;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    border-radius: 50px;
    border-style: none;
    border-width: 100;
}

.update-info input:focus{
    background-color: #111111;
    color:#F6F6DF;
    opacity: 1;
    outline: 1px solid #DD806D;
}

.update-info .btn-cancel{
    box-sizing: border-box;
    width: 2.75em;
    height: 2.75em;
    margin: 5px 0;
    background-color: transparent;
    font-size: 0.9em;
    color: #F6F6DF;
    letter-spacing: 0.1em;
    border-radius: 50px;
    border-style: none;    
}

.update-info .btn-cancel:hover{    
    cursor: pointer;
}

.update-info .btn-cancel:focus{
    outline: 1px solid #DD806D;
}

.update-info .btn-cancel:active{
    outline: none;
    cursor: pointer;
}

.btn-cancel span{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50px;
    user-select: none;
}

.update-info .btn-save{
    display: block;
    box-sizing: border-box;
    height: 2.75em;
    margin: 0;
    padding: 0 15px;
    background-color: #053537;
    font-size: 0.9em;
    color: #F6F6DF;
    letter-spacing: 0.1em;
    border-radius: 50px;
    border-style: none;
    border-width: 100;    
}

.update-info .btn-save:hover{    
    cursor: pointer;
}

.update-info .btn-save:focus{
    outline: 1px solid #DD806D;
}

.update-info .btn-save:active{
    background-color: #111111;
    outline: none;
    cursor: pointer;
}

/* FOOTER
-------------------------------------------*/
footer{
    padding: 30px;
    text-align: center;
    letter-spacing: 0.3em;
    font-family: 'Lora', serif;
    font-size: 0.85em;
    color: #DD806D;
}

/* MEDIA QUERIES
-------------------------------------------*/
@media screen and (max-width: 960px){
    .login-form > div:first-of-type{
        display: none;
    }
}