<!DOCTYPE html>
<html lang="es" style="margin: 0; height: 100%; background-color: #053537; font-family: 'Open Sans', sans-serif;">
  <head>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
    </style>
  </head>

  <body style="margin: 0; height: 100%; background-color: #053537; font-family: 'Open Sans', sans-serif; display: flex; flex-direction: column;">
    <main style="flex-grow: 1; display: flex; flex-direction: column; justify-content: center;">
      <div
        style="display: flex; justify-content: center; margin: 0 auto; min-width: 600px; max-height: 90%;">
        <div style="flex-grow: 1; padding: 50px; background-color: transparent; text-align: center;">
          <div>
            <img src="route-to-logo" alt="Cabañas Navarro" style=" color: #dd806d; display: inline-block; width: 5em; height: 5em; border-radius: 100%;"/>
            <h1 style="color: #dd806d; display: inline-block; font-family: 'Lora', serif; font-size: 2.75em; font-weight: 100; line-height: 1em; letter-spacing: 0.2em;">
              Cabañas Navarro
            </h1>
          </div>
          <p style="font-weight: 300; color: white">[message]</p>
          <p style="font-weight: 300; color: white">
            Tu nueva contraseña de acceso a dicho sistema es: <span style="font-weight: 700">[password]</span>. ¡No la compartas con nadie!
          </p>
          <p style="font-weight: 300; color: white">
            Si no formas parte del equipo de Cabañas Navarro, puedes ignorar este correo.
          </p>
        </div>
      </div>
    </main>

    <footer
      style="display: flex; align-items: center; justify-content: center; padding: 30px; text-align: center; letter-spacing: 0.3em; font-family: 'Lora', serif; font-size: 0.85em; color: #dd806d;">
      <p>&copy; 2024. Cabañas Navarro. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
