name: Deploy to DigitalOcean
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Digital Ocean
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DROPLET_IP }}
          username: ${{ secrets.DROPLET_USERNAME }}
          key: ${{ secrets.DO_SSH_KEY }}
          script: |
            # Stop and delete current PM2 process
            pm2 delete index || true

            # Remove old directory
            sudo rm -r administrador-reservas || true

            # Clone fresh copy
            git clone https://github.com/xEfren548/administrador-reservas

            # Copy local cert to repository
            cp -r cert3 administrador-reservas/

            # Install dependencies and start
            cd administrador-reservas
            cat > .env << EOL
            NODE_ENV='production'
            DB_URL=${{ secrets.DB_URL }}
            URL=${{ secrets.URL }}
            FTP_USER=${{ secrets.FTP_USER }}
            FTP_PASSWORD=${{ secrets.FTP_PASSWORD }}
            DB_PORT=${{ secrets.PORT }}
            CHANNEX_USER_API_KEY=${{ secrets.CHANNEX_USER_API_KEY }}
            CHANNEX_API_URL=${{ secrets.CHANNEX_API_URL }}
            JWT_SECRET=${{ secrets.JWT_SECRET }}
            DEV_STRIPE_SECRET_KEY=${{ secrets.DEV_STRIPE_SECRET_KEY }}
            DEV_STRIPE_WEBHOOK_SECRET=${{ secrets.DEV_STRIPE_WEBHOOK_SECRET }}
            EOL
            
            npm install
            pm2 start index.js --wait-ready